html {
    margin: 0;
    padding: 0;
}

body {
    min-height: calc(100vh - 20px);
    margin: 0;
    padding: 0;
    background-color: #3B3F45;
    border: 10px solid #fff;
    font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;

}

* {
    transition: all .1s ease-in;
}

header,
footer {
    color: #EB7E7F;
}

main {
    margin: 20px 0;
}

h2 {
    margin: 10px;
    font-size: 1.2em;
    font-weight: normal;
}

a,
p,
li {
    color: white;
}

button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border: 2px solid transparent;
    font-size: 1.2em;
    color: #EB7E7F;
}

button:focus {
    border: 2px solid #ddd;
}

button:hover {
    cursor: pointer;
}

header>h1 {
    margin: 0px;
    padding: 10px 0 0 0;
}

header>p {
    color: #EB7E7F;
    margin: 0;
    padding: 0 0 10px 0;
}

#container span,
li span {
    color: #ddd;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

#container input,
#container h2,
#container div {
    display: inline-block;
}

#container input:checked~div>h2 {
    text-decoration: line-through;
}

#container input:checked~div>span {
    text-decoration: line-through;
}

#container,
footer {
    width: 560px;
    background-color: #88839E;
    margin: 0 auto;
}

header,
footer {
    text-align: center;
    background-color: #4A4F56;
}

ul {
    padding: 0px;
}

ul li {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding-left: 10px;
}

ul>li:nth-child(2n) {
    background-color: #7A7593;
}

ul>li:hover {
    background-color: #625E77;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

ul>li:active {
    background-color: tomato;
}

.full-active {
    width: 100%;
    height: 100%;
}

.full-active span::before {
    content: "(";
}

.full-active span::after {
    content: ")";
}